certifi
chardet
Django

django-admin-thumbnails
django-session-timeout
django-storages
idna
jmespath
Pillow
psycopg2-binary
python-dateutil
python-decouple
pytz
requests
six
sqlparse
urllib3
gunicorn
psycopg2